/configure port 1/1/c1 admin-state enable
/configure port 1/1/c1 connector breakout c1-10g
/configure port 1/1/c1/1 admin-state enable
/configure port 1/1/c2 admin-state enable
/configure port 1/1/c2 connector breakout c1-10g
/configure port 1/1/c2/1 admin-state enable
/configure port 1/1/c3 admin-state enable
/configure port 1/1/c3 connector breakout c1-10g

/configure router "Base" interface "system" admin-state enable
/configure router "Base" interface "system" ipv4 primary address 192.168.0.3
/configure router "Base" interface "system" ipv4 primary prefix-length 32

/configure router "Base" interface "to-pe1" admin-state enable
/configure router "Base" interface "to-pe1" port 1/1/c1/1
/configure router "Base" interface "to-pe1" ipv4 primary address 10.1.13.3
/configure router "Base" interface "to-pe1" ipv4 primary prefix-length 24

/configure router "Base" interface "to-pe2" admin-state enable
/configure router "Base" interface "to-pe2" port 1/1/c2/1
/configure router "Base" interface "to-pe2" ipv4 primary address 10.1.23.3
/configure router "Base" interface "to-pe2" ipv4 primary prefix-length 24

/configure router "Base" isis 0 admin-state enable
/configure router "Base" isis 0 level-capability 2
/configure router "Base" isis 0 system-id 1921.6810.0003
/configure router "Base" isis 0 area-address [43.0000]
/configure router "Base" isis 0 interface "to-pe1" admin-state enable
/configure router "Base" isis 0 interface "to-pe1" interface-type point-to-point
/configure router "Base" { isis 0 interface "to-pe1" level 2 }
/configure router "Base" isis 0 interface "to-pe2" admin-state enable
/configure router "Base" isis 0 interface "to-pe2" interface-type point-to-point
/configure router "Base" { isis 0 interface "to-pe2" level 2 }
